binds {
    Mod+Shift+Slash { show-hotkey-overlay; }

    Mod+T       hotkey-overlay-title="Open a Terminal: kitty"     { spawn "kitty"; }
    Mod+D       hotkey-overlay-title="Run an Application: fuzzel" { spawn "fuzzel"; }
    Super+Alt+L hotkey-overlay-title="Lock the Screen: swaylock"  { spawn "swaylock"; }

    XF86AudioRaiseVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1+ -l 1.0"; }
    XF86AudioLowerVolume allow-when-locked=true { spawn-sh "wpctl set-volume @DEFAULT_AUDIO_SINK@ 0.1-"; }
    XF86AudioMute        allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SINK@ toggle"; }
    XF86AudioMicMute     allow-when-locked=true { spawn-sh "wpctl set-mute @DEFAULT_AUDIO_SOURCE@ toggle"; }

    XF86AudioPlay        allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioPause       allow-when-locked=true { spawn-sh "playerctl play-pause"; }
    XF86AudioStop        allow-when-locked=true { spawn-sh "playerctl stop"; }
    XF86AudioPrev        allow-when-locked=true { spawn-sh "playerctl previous"; }
    XF86AudioNext        allow-when-locked=true { spawn-sh "playerctl next"; }

    XF86MonBrightnessUp   allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "+10%"; }
    XF86MonBrightnessDown allow-when-locked=true { spawn "brightnessctl" "--class=backlight" "set" "10%-"; }

    XF86Calculator        allow-when-locked=true { spawn "kitty" "--title" "Calculator" "bc"; }

    Ctrl+Alt+Delete { spawn "wlogout" "-b" "4" "-s" "-n" "-c" "40px" "-m" "400px"; }

    Mod+E          hotkey-overlay-title="Set dynamic cast window"           { spawn-sh "niri msg action set-dynamic-cast-window"; }
    Mod+Ctrl+E     hotkey-overlay-title="Unset current dynamic cast window" { spawn-sh "niri msg action clear-dynamic-cast-target"; }
    Mod+Ctrl+Print hotkey-overlay-title="Set dynamic cast workspace"        { spawn-sh "niri msg action set-dynamic-cast-monitor"; }

    Mod+B hotkey-overlay-title="Wallpaper picker" { spawn-sh "${HOME}/.config/scripts/bg_picker_fuzzel.sh"; }
    Alt+C { spawn-sh "niri msg pick-color | wl-copy"; }
}
