window-rule {
    geometry-corner-radius 0
    clip-to-geometry true
}

window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#AA5087"
        inactive-color "#556995"
    }

    border {
        inactive-color "#556995"
    }

    tab-indicator {
        active-color "#AA5087"
        inactive-color "#556995"
    }
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match title="Calculator"
    open-floating true
    default-column-width { fixed 400; }
    default-window-height { fixed 500; }
}
