/* --------------- */
/* define bar rule */
/* --------------- */

.modules-left,
.modules-center,
.modules-right {
  margin: 0;
}

window#waybar {
  font: 14px "Mononoki Nerd Font Propo";
  background-color: transparent;
  margin: 0;
}

window#waybar > box {
  background-color: #f7f3ee;
  margin: 4px 600px 0 600px;
}

/* style for tooltip on hover on module */
tooltip {
  font: 14px "Mononoki Nerd Font Propo";
  padding: 0;
}

tooltip > box {
  border-radius: 2px;
}

tooltip > label {
  font-size: 14px;
}
/* style for tooltip on hover on module */

/* --------------------------------- */ 
/* style that apply for most modules */
/* --------------------------------- */

#custom-powerbtn,
#clock,
#custom-drawer-icon,
#backlight,
#wireplumber,
#network,
#bluetooth,
#battery {
  padding: 0px 10px;
  color: #605a52;
}

/* ------------------------------ */
/* style only modules on the left */
/* ------------------------------ */

/*
#custom-powerbtn {
  box-shadow: inset 2px 0px red;
}

#clock {
  box-shadow: inset 2px 0px cornflowerblue;
}
*/

/* ---------------------------- */
/* style only modules in middle */
/* ---------------------------- */

button:hover {
  background: none;
}

#workspaces {
  background-color: transparent;
  /* box-shadow: inset 2px 0px forestgreen; */
}

#workspaces > button {
  box-shadow: none;
  border: none;
  color: #605a52;
  padding: 0 4px;
  text-shadow: none;
}

#workspaces > button:hover {
  border-radius: 2px;
  transition: none;
}

#workspaces > button.active {
  color: #605a52;
}

#workspaces > button.active:hover {
  background-color: transparent;
}

#workspaces button.focused {
  background-color: transparent;
}

#workspaces button.focused:hover {
  background-color: transparent;
}

#workspaces > button.urgent {
  background-color: transparent;
}

/* ------------------------------- */
/* style only modules on the right */
/* ------------------------------- */

/*
#custom-drawer-icon {
  box-shadow: inset 2px 0px brown;
}

#backlight {
  box-shadow: inset 2px 0px orange;
}

#wireplumber {
  box-shadow: inset 2px 0px maroon;
}

#network {
  box-shadow: inset 2px 0px honeydew;
}

#battery,
#battery.charging,
#battery.plugged {
  box-shadow: inset 2px 0px green;
}
*/
